##
# Specifies the configuration settings for
# [rcm](https://robots.thoughtbot.com/rcm-for-rc-files-in-dotfiles-repos).
##

# The source directories for dotfiles. The first in the list is the default.
# Note: doesn't seem to support the "~" shorthand.
DOTFILES_DIRS="{{ rcm_repos | map(attribute='dest') | join(' ') }}"

# The files to exclude when reading dotfiles repos.
EXCLUDES="LICENSE README.md"
